.Seeting{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;
    user-select: none;
}

.Seeting img {
    transition: transform 0.3s ease;
}
.Seeting img:active{
    transform: scale(1.1);

}


@media (max-width: 856px) {
  
.Seeting{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 90%;
    background-color: rgba(158, 152, 152, 0.2);
    backdrop-filter: blur(1px);
    border-radius:30px;
    padding: 2px;
    height: max-content;


}

.Seeting img {
    transition: transform 0.3s ease;
}
.Seeting img:active{
    transform: scale(1.1);

}


} 