.skin-container {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);background-color: black;
}

.skin-bar {
  display: flex;
  gap: 8px;
  padding: 8px 12px;
  border-radius: 18px;
  backdrop-filter: blur(18px);
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

.skin-btn {
  border: none;
  padding: 8px 14px;
  border-radius: 12px;
  background: transparent;
  color: white;
  cursor: pointer;
  transition: 0.25s;
}

.skin-btn:hover {
  background: rgba(255,255,255,0.2);
  transform: scale(1.05);
}

.skin-btn.active {
  background: rgba(255,255,255,0.35);
}